<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>account</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script  src="/layui/layui.js"></script>

</head>
<body>

    <table class="layui-table" lay-data="{height:600,url:'/admin/getItem', page:true,limit:20, id:'test',toolbar:'default'}">
        <thead>
            <tr>
                <th lay-data="{field:'id',sort: true}">ID</th>
                <th lay-data="{field:'title'}">TITLE</th>
                <th lay-data="{field:'sellPoint'}">ACCOUNT</th>
                <th lay-data="{field:'price'}">PASS</th>
                <th lay-data="{field:'num'}">REMARKS</th>

            </tr>
        </thead>
    </table>
</body>
<script>
    layui.use('table', function(){
        var table = layui.table;
    })
</script>
</html>



